<h1>Good riddance, <%= @user.full_name %></h1>
<p>
  You have unfortunately deleted your account on Rotten Tomatoes,
  your deleted username is: <%= @user.email %>.<br>
</p>
<p>
  We are sad to see you leave, but are happy you're gone
</p>
<p>You're dead to us!</p>