<h1>Welcome to Rotten Tomatoes, <%= @user.full_name %></h1>
<p>
  You have successfully signed up to Rotten Tomatoes,
  your username is: <%= @user.email %>.<br>
</p>

<p>Thanks for joining and have a great day!</p>
